body{
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: center;

}

.box{
    border: 10px solid black;
    border-radius: 20%;
    height: 200px;
    width: 200px;
    margin: 2.5rem;
}

.red {
    background-color: #d95980;
}

.yellow{
    background-color:#f99b45;
}

.green{
    background-color: #63aac0;
}

.blue{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}
.user-flash{
    background-color: greenyellow;
}